<h2>Live Cricket Score Updates !! {{ title }}</h2>
<h3><span class="text-success">Pakistan</span> V/S <span class="text-danger">England</span></h3>
<h5>Scrorecard</h5>
<h5>348-8 (50)  CRR: 6.98</h5>
<app-warning-alert></app-warning-alert>
  <app-success-alert></app-success-alert>
<app-add-player></app-add-player>
<div class="row pt-4">
  <div class="col-md-12">
    <!-- <p [routerLink]="['/about']" routerLinkActive="">kamal</p> -->
<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>Pakistan Innings<br>Batsman</th>
      <th></th>
      <th>348-8 (50)<br>Runs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Imam-ul-Haq</td>
      <td>c Chris Woakes b Moeen</td>
      <td>44</td>
    </tr>
    <tr>
      <td>Fakhar Zaman</td>
      <td>st Jos Buttler b Moeen</td>
      <td>36</td>
    </tr>
    <tr>
      <td>Babar Azam</td>
      <td>c Chris Woakes b Moeen  </td>
      <td>63</td>
    </tr>
    <tr>
        <td>Babar Azam</td>
        <td>c Chris Woakes b Moeen  </td>
        <td>63</td>
    </tr>
    <tr>
        <td>Babar Azam</td>
        <td>c Chris Woakes b Moeen  </td>
        <td>63</td>
    </tr>
    <tr>
        <td>Babar Azam</td>
        <td>c Chris Woakes b Moeen  </td>
        <td>63</td>
    </tr>
    <tr>
        <td>Babar Azam</td>
        <td>c Chris Woakes b Moeen  </td>
        <td>63</td>
    </tr>
    <tr>
        <td>Babar Azam</td>
        <td>c Chris Woakes b Moeen  </td>
        <td>63</td>
    </tr>
    <tr>
        <td>Babar Azam</td>
        <td>c Chris Woakes b Moeen  </td>
        <td>63</td>
        </tr>
    <tr>
        <td>Babar Azam</td>
        <td>c Chris Woakes b Moeen  </td>
        <td>63</td>
    </tr>
    <tr>
        <td>Babar Azam</td>
        <td>c Chris Woakes b Moeen  </td>
        <td>63</td>
    </tr>
  </tbody>
</table> -->
</div>
</div>
